<DOCTYPE html>
<html lang="es">
	<head>
	
		<!-- Título -->
		<meta charset="utf-8"/>
		<title>MaikEvade</title>
		
		<!-- Estilos -->
		<link rel="stylesheet" href="/css/main.css">
		
	</head>
	<body>
	
	<!-- Contenedor de los gráficos -->
	<div class="row center">
	
		<!-- Ancho fijo de 450px -->
		<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" 
			style="width: 450px;">
			<div class="col">
				<canvas id='draw' width="450" height="450"></canvas>
			</div>
		</div>
	</div>
	
	<!-- Pie de página -->
	<footer class=container"></footer>
	
	<!-- APP JS -->
	<script src="/scripts/main.js" crossorigin="anonymous"></script>
	
	</body>
</html>